<article class="details">
    <div class="details__navigation">
        <a (click)="closeDetails($event)">X</a>
        <a (click)="toggleFavorite()" *ngIf="!movie?.isFavorited">Add to favorites</a>
        <a (click)="toggleFavorite()" *ngIf="movie?.isFavorited">Remove from favorites</a>
        <a (click)="getSimilarMovies()">Find similar movies</a>
        <a (click)="getRecommendedMovies()">Find recommended movies</a>
    </div>
    <div (click)="$event.stopPropagation()"> 
        <div class="details__title">{{movie?.title}}</div>
        <div class="details__cover"></div>
        <img class="details__image" [src]="'https://image.tmdb.org/t/p//w500/'+movie?.poster_path" crossOrigin = "Anonymous" />
        <div class="details__description">{{movie?.overview}}</div>
    </div>
</article>