:host{
    cursor: pointer;
    justify-content: center;
    flex: auto;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 16px rgba(0,0,0,0.7523);
    background: #f9f9f9;
    height: 100%;
    width: 100%;
    overflow: auto;
    flex: 0.8;
    text-align: center;
    transform-style: preserve-3d;
    transform: perspective(800px);
}

.details{
    &__navigation{
        position: absolute;
        top: 0;
        z-index: 2;
        width: 325px;
        padding: 10px 15px;
        left: 0px;
        display: flex;
        align-items: center;
    }
    &__navigation-item{
        display: flex;
        text-align: right;
        float: left;
        margin-right: 15px;
        color: #fff;
    }
    &__title{
        position: right;
        color: #fff;
        top: 60px;
        width: 100%;
        text-align: center;
        font-size: 31px;
        z-index: 1;
        position: absolute;
    }
    &__cover{
        position: relative;
        top: 0;
        height: 600px;
        width: 100%;
    }
    &__image{
        width: 410px;
        position: absolute;
        top: 120px;
        right: 166px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    &__description{
        position: relative;
        padding: 170px 70px 0;
        text-align: left;
        font-size: 17px;
        line-height: 19px;
    }
}