<article class="details">
    <div class="details__navigation">
        <mm-favorite-button 
        class="large details__navigation-item"
        [isFavorited]="movie?.isFavorited"
        (onFavoriteButtonClicked)="toggleFavorite($event)"></mm-favorite-button>

        <a class="details__navigation-item"
            (click)="getSimilarMovies()">Similar</a>
        <a class="details__navigation-item"
            (click)="getRecommendedMovies()">Recommended</a>
    </div>
    <div (click)="$event.stopPropagation()"> 
        <div class="details__title">{{movie?.title}}</div>
        <div class="details__cover"></div>

        <mm-image class="details__image large" *ngIf="movie" [size]="big" [src]="'https://image.tmdb.org/t/p//w300/'+movie?.poster_path" 
        (onLoadFailed)="morphBackground(true)"
        (onLoaded)="morphBackground()"></mm-image>
        <div class="details__description">{{movie?.overview}}</div>
    </div>
</article>