:host{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #fff;
    &.large{
        min-height: 580px;
    }
    &.small{
        height: 210px;
        img{
            max-width: 140px;
        }
    }
}
img{
    width: 100%;
    display: block;
    &[hidden]{
        opacity: 0;
    }
}