:host{
    height: 65px;
    width: 100%;
    display: flex;
    flex: none;
    flex-direction: column;
}
input[type="text"]{
    height: 100%;
    width: 100%;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #dcdcdc;
    box-shadow: 3px 1px 5px rgba(0, 0, 0, 0.19), 3px -8px 0px rgba(0, 0, 0, 0.23);
}