:host{
    height: 65px;
    width: 100%;
    display: flex;
    flex: none;
    flex-direction: column;
}
input[type="text"]{
    height: 100%;
    width: 100%;
    border: 0;
    padding-left: 15px;
    flex: none;
    border: 0;
}