<mm-movie-listing 
    [movies]="nowPlaying"
    (onMoreMoviesLoaded)="loadMoreMovies($event)" 
    (onMovieAddedToFavorites)="toggleMovieFavorite($event)"
    (onMovieSelected)="selectMovie($event)"
>
</mm-movie-listing>
<mm-fab-button (click)="organizeMovieNight()" [count]="selectedMovies.length">
    <div>
        {{selectedMovies.length ? selectedMovies.length : '+'}}
    </div>
</mm-fab-button>
<div class="button--close" (click)="organizing=false" *ngIf="organizing">
    X
</div>

<section class="organizer-holder" 
    *ngIf="organizing"
    [@slideRightAnimation]>
    <mm-alt-listing 
        class="organizer"
        [cardClasses]="'card--shadowed'"
        [movies]="selectedMovies"
        [title]="'Choose movies for a movie night'"
    >
    </mm-alt-listing>
    <button class="button--send" 
        [disabled]="selectedMovies.length===0"
        (click)="selectionFinalized = true"
    >ORGANIZE</button>
    <mm-organizer-form 
        *ngIf="selectionFinalized"
        [@slideRightAnimation]
    >
    </mm-organizer-form>
</section>
