:host{
    height: 100%;
    display: flex;
}
.button--close{
    z-index: 5;
    position: absolute;
    top: 15px;
    left: 225px;
}
.organizer-holder{
    left: 0;
    top: 0;
    position: absolute;
    width: 220px;
    height: 100%;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    .organizer{
        transform: translateX(0%);
        flex: 1;
        background-color: #f9f9f9;
        mm-movie-card{
            box-shadow: -11px 0px 30px 1px rgba(0, 0, 0, 0.19), -3px 0px 6px rgba(0, 0, 0, 0.53);
        }
    }
    .button--send{
        flex: none;
        height: 50px;
        width: 100%;
    }
}