<ul class="search-list">
  <li class="search-list__item" (click)="selectSearchItem(item.id)" [class.search-list__item--selected]="selectedItemIndex === index" *ngFor="let item of items; let index = index;">
    <mm-image class="search-list__photo" [size]="small" [src]="'https://image.tmdb.org/t/p//w300/'+item.poster_path" ></mm-image>
      <span class="search-list__title" [innerHTML]="item.title | highlight : searchText">
      </span>
  </li>
  <li *ngIf="items.length==0" class="search-list__item search-list__item--no-results">No results have been found for this query...</li>
</ul>