<mm-alt-listing 
    *ngIf="movie?.additionalMovies"
    (onMovieSelected)="selectMovie($event)"
    (onMoreMoviesLoaded)="loadMoreMovies($event)"
    [title]="'More Movies'"
    [movies]="movie?.additionalMovies"
    [@slideLeftAnimation]
>
</mm-alt-listing>

<mm-movie-details 
    (onDetailsClosed)="closeDetails($event)" 
    (onFavoriteToggled)="toggleFavorite($event)" 
    (onSimilarMoviesRequested)="getSimilarMovies($event)" 
    (onRecommendedMoviesRequested)="getRecommendedMovies($event)" 
    [movie]="movie"
>
</mm-movie-details>

<mm-overlay 
    [@fadeIn] 
    *ngIf="isOverlayShown" 
    (click)="closeDetails()"
>
</mm-overlay>
