:host{
    padding-top: 1.5rem;
    flex: 1;
    display: flex;
    height: 100%;
    
}
.listing{
    &__scroller{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1;
        overflow: auto;
        height: 100%;
        align-items: center;
    }
}
img{
    max-width: 250px;
}
.card-holder{
    margin-bottom: 25px;
    transform-style: preserve-3d;
    transform: perspective(800px);
}